{{!-- if not devoured --}}
<li class="list-group-item d-flex justify-content-around">
	{{burger_name}}

	{{#if save}}
	<button class="btn btn-info burger-status" data-id="{{id}}" data-toeat="{{save}}">
		Save It
	</button>

	{{else}}
	<button class="btn btn-warning burger-status" data-id="{{id}}" data-toeat="{{save}}">
		Devour It
	</button>
	{{/if}}
</li>